<aside class="col-lg-2 d-none d-lg-block pe-3">
  <div class="sidebar-section">
    <div class="sidebar-header">
      <h5 class="sidebar-title">
        <i class="fas fa-th-large me-2"></i>
        Categorias
      </h5>
    </div>
    
    {% for cat in menu_categorias %}
    <a href="{% url 'category_detail' cat.pk %}" class="category-link">
      {% if cat.icone %}
        <i class="{{ cat.icone }} category-icon"></i>
      {% else %}
        <i class="fas fa-tag category-icon"></i>
      {% endif %}
      {{ cat.nome }}
    </a>
    {% endfor %}
  </div>
</aside>
  