{% extends 'base.html' %}

{% block content %}
<style>
    /* Estilos personalizados */
    .card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .card:hover {
        transform: scale(1.02); /* Efeito de zoom leve */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    }
    .card-img-top {
        height: 200px; /* Altura fixa para as imagens */
        object-fit: cover; /* Mantém a proporção da imagem */
        transition: transform 0.2s ease; /* Adiciona transição suave */
    }

   
    /* Ajustes para o carousel */
    .carousel {
        padding: 0 40px; /* Adiciona espaçamento interno */
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 4%; /* Largura reduzida */
        background-color: transparent; /* Fundo transparente */
        margin: 0 -50px; /* Margem ajustada para afastar os controles */
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 30px; /* Tamanho reduzido */
        height: 30px;
        filter: invert(1); /* Ícones brancos */
    }
</style>

{% include "components/_banner_carousel.html" %}

<!-- Categorias Populares -->
<h2 class="mb-4 mt-5">Categorias Populares</h2>
<div id="categoriasCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for categoria_group in categorias_populares %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <div class="row d-flex align-items-stretch">
                {% for categoria in categoria_group %}
                <div class="col-lg-2 col-md-3 col-sm-4 d-flex mb-4">
                    <div class="card flex-fill">
                        <div class="card-body">
                            <a href="{% if categoria.id %}{% url 'category_detail' categoria.id %}{% else %}#{% endif %}" class="text-decoration-none text-dark">
                                <h5 class="card-title fw-medium">{{ categoria.nome }}</h5>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Controles do Carousel -->
    <button class="carousel-control-prev" type="button" data-bs-target="#categoriasCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#categoriasCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>
    </button>
</div>

<style>
    /* Estilos personalizados para os cards */
    .card {
        height: 100%; /* Faz o card ocupar toda a altura disponível */
        display: flex;
        flex-direction: column;
    }

    .card-img-top {
        height: 200px; /* Altura fixa para as imagens */
        object-fit: cover; /* Mantém a proporção da imagem */
    }

    .card-body {
        flex-grow: 1; /* Faz o corpo do card ocupar o espaço restante */
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Distribui o espaço entre os elementos */
    }

    .card-title {
        font-size: 1.1rem; /* Tamanho do título */
        font-weight: bold; /* Negrito no título */
    }

    .card-text {
        font-size: 0.9rem; /* Tamanho do texto */
        margin-bottom: 0.5rem; /* Espaçamento entre os textos */
    }

    .badge {
        font-size: 0.8rem; /* Tamanho do badge */
    }
</style>

<!-- Anúncios Populares -->
<h2 class="mb-4 mt-5">Anúncios Populares</h2>
<div id="anunciosPopularesCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for anuncio_group in anuncios_populares %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <div class="row d-flex align-items-stretch">
                {% for anuncio in anuncio_group %}
                <div class="col-lg-3 col-md-4 col-sm-6 d-flex mb-4">
                    <a href="{% url 'necessidade_detail' anuncio.pk %}" class="text-decoration-none text-dark">
                        <div class="card flex-fill">
                            <!-- Imagem do Anúncio -->
                            {% if anuncio.imagens.first %}
                            <img src="{{ anuncio.imagens.first.imagem.url }}" class="card-img-top" alt="{{ anuncio.titulo }}">
                            {% else %}
                            <div class="card-img-top d-flex align-items-center justify-content-center bg-light text-secondary" style="height: 200px;">
                                <p class="text-center">Anúncio sem imagem</p>
                            </div>
                            {% endif %}
                            <div class="card-body">
                                <h6 class="card-title">{{ anuncio.titulo }}</h6>
                                <p class="card-text">{{ anuncio.categoria }}</p>
                                {% if anuncio.cliente.cidade or anuncio.cliente.estado %}
                                <p class="card-text"><i class="fas fa-map-marker-alt"></i> {{ anuncio.cliente.cidade }} - {{ anuncio.cliente.estado|upper }}</p>
                                {% endif %}
                                <p class="card-text">{{ anuncio.data_criacao }}</p>
                                {% if anuncio.duracao %}
                                <p class="badge text-bg-secondary">{{ anuncio.duracao }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Controles do Carousel -->
    <button class="carousel-control-prev" type="button" data-bs-target="#anunciosPopularesCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#anunciosPopularesCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>
    </button>
</div>

<!-- Anúncios Preferidos -->
{% if anuncios_preferidos %}
<h2 class="mb-4 mt-5">Baseado nas suas Categorias Preferidas</h2>
<div id="anunciosPreferidosCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for anuncio_group in anuncios_preferidos %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <div class="row d-flex align-items-stretch">
                {% for anuncio in anuncio_group %}
                <div class="col-lg-3 col-md-4 col-sm-6 d-flex mb-4">
                    <a href="{% url 'necessidade_detail' anuncio.pk %}" class="text-decoration-none text-dark">
                        <div class="card flex-fill">
                            <!-- Imagem do Anúncio -->
                            {% if anuncio.imagens.first %}
                            <img src="{{ anuncio.imagens.first.imagem.url }}" class="card-img-top" alt="{{ anuncio.titulo }}">
                            {% else %}
                            <div class="card-img-top d-flex align-items-center justify-content-center bg-light text-secondary" style="height: 200px;">
                                <p class="text-center">Anúncio sem imagem</p>
                            </div>
                            {% endif %}
                            <div class="card-body">
                                <h6 class="card-title">{{ anuncio.titulo }}</h6>
                                <p class="card-text">{{ anuncio.categoria }}</p>
                                <p class="card-text"><i class="fas fa-map-marker-alt"></i> {{ anuncio.cliente.cidade }} - {{ anuncio.cliente.estado|upper }}</p>
                                <p class="card-text">{{ anuncio.data_criacao }}</p>
                                {% if anuncio.duracao %}
                                <p class="badge text-bg-secondary">{{ anuncio.duracao }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Controles do Carousel -->
    <button class="carousel-control-prev" type="button" data-bs-target="#anunciosPreferidosCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#anunciosPreferidosCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>
    </button>
</div>
{% endif %}

<!-- Anúncios Próximos -->
{% if anuncios_proximos %}
<h2 class="mb-4 mt-5">Anúncios nas Proximidades</h2>
<div id="anunciosProximosCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for anuncio_group in anuncios_proximos %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <div class="row d-flex align-items-stretch">
                {% for anuncio in anuncio_group %}
                <div class="col-lg-3 col-md-4 col-sm-6 d-flex mb-4">
                    <a href="{% url 'necessidade_detail' anuncio.pk %}" class="text-decoration-none text-dark">
                        <div class="card flex-fill">
                            <!-- Imagem do Anúncio -->
                            {% if anuncio.imagens.first %}
                            <img src="{{ anuncio.imagens.first.imagem.url }}" class="card-img-top" alt="{{ anuncio.titulo }}">
                            {% else %}
                            <div class="card-img-top d-flex align-items-center justify-content-center bg-light text-secondary" style="height: 200px;">
                                <p class="text-center">Anúncio sem imagem</p>
                            </div>
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ anuncio.titulo }}</h5>
                                <p class="card-text">{{ anuncio.categoria }}</p>
                                <p class="card-text"><i class="fas fa-map-marker-alt"></i> {{ anuncio.cliente.cidade }} - {{ anuncio.cliente.estado|upper }}</p>
                                <p class="card-text">{{ anuncio.data_criacao }}</p>
                                {% if anuncio.duracao %}
                                <p class="badge text-bg-secondary">{{ anuncio.duracao }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Controles do Carousel -->
    <button class="carousel-control-prev" type="button" data-bs-target="#anunciosProximosCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#anunciosProximosCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>
    </button>
</div>
{% endif %}

{% include "components/_session_categories.html" %}


{% endblock %}