{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
  <h2>Meus Orçamentos</h2>
  <div class="row align-items-center mb-4">
    <div class="col-lg-8 col-md-8 col-sm-12">
      <form method="get" action="{% url 'budget_list' %}">
        <div class="row g-2">
          <div class="col-lg-5 col-md-6 col-sm-12">
            <div class="input-group">
              <input type="text" class="form-control" name="search" placeholder="Buscar por descrição" value="{{ request.GET.search }}">
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <select class="form-select" name="status">
              <option value="" {% if not request.GET.status %}selected{% endif %}>Todos os Status</option>
              <option value="pendente" {% if request.GET.status == 'pendente' %}selected{% endif %}>pendente</option>
              <option value="aceito" {% if request.GET.status == 'aceito' %}selected{% endif %}>aceito</option>
              <option value="refeitado" {% if request.GET.status == 'refeitado' %}selected{% endif %}>refeitado</option>
            </select>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12">
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-search"></i> Buscar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>  
  <div class="row">  
  {% for orcamento in orcamentos %}
  <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
    <div class="card h-100 shadow">
        <div class="card-body">
            <h5 class="card-title">{{ orcamento.anuncio }}</h5>
            <p class="card-text">{{ orcamento.descricao|truncatechars:100 }}</p>
            <span class="badge text-bg-warning">Status: {{ orcamento.status|capfirst}}</span>
          </div>
        <div class="card-footer d-flex justify-content-between">
            <a href="{% url 'budget_detail' orcamento.pk %}" class="btn btn-primary btn-sm">Ver Detalhes</a>
            <div>
                <a href="{% url 'budget_update' orcamento.pk %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'budget_delete' orcamento.pk %}" class="btn btn-danger btn-sm">Excluir</a>
            </div>
        </div>
    </div>
  </div>
  {% endfor %}
  </div>
</div> 
{% endblock %}