{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<style>
  /* Estilos para melhorar a aparência na exportação */
  @media print {
      body {
          padding: 20px;
      }
      
      .no-print {
          display: none !important;
      }
  }
  
  /* Estilos para o container de detalhes do orçamento */
  #orcamento-details-container {
      padding: 20px;
      border-radius: 8px;
      background-color: white;
  }
</style>
<div id="orcamento-details-container" class="card shadow-sm" class="container">
  <div class="card shadow-sm">
    <div class="card-header bg-light d-flex align-items-center">
      <div class="col-6">
        <h3 class="mb-0">Detalhes do Orçamento</h3>
      </div>
      <div class="col-6 d-flex flex-column flex-md-row gap-2 align-items-stretch mb-3">
        <a href="{% url 'export_orcamento_pdf' orcamento.pk %}" class="btn btn-outline-primary w-100">
          <i class="fas fa-file-pdf me-2"></i> Exportar PDF
        </a>
        <a href="{% url 'budget_update' orcamento.pk %}" class="btn btn-warning w-100">
          <i class="fas fa-edit"></i> Editar Orçamento</a>
        <a href="{% url 'budget_delete' orcamento.pk %}" class="btn btn-danger w-100">
          <i class="fas fa-trash-alt"></i> Excluir Orçamento
        </a>
      </div>
    </div>
    <div class="card-body">
      {% if object.anuncio %}
      <h4 class="card-title">Descrição: {{ object.anuncio }}</h4>
      {% endif %}
      
      {% if object.status %}
      <p class="card-text">Status: {{ object.status|capfirst }}</p>
      {% endif %}
      
      {% if object.quantidade %}
      <p class="card-text">Quantidade: {{ object.quantidade }}</p>
      {% endif %}
      
      {% if object.valor %}
      <p class="card-text">Valor: {{ object.valor|moeda_brasileira }}</p>
      {% endif %}
      
      {% if object.unidade %}
      <p class="card-text">Unidade: {{ object.unidade }}</p>
      {% endif %}
      
      {% if object.marca %}
      <p class="card-text">Marca: {{ object.marca }}</p>
      {% endif %}
      
      {% if object.prazo_validade %}
      <p class="card-text">Prazo de Validade: {{ object.prazo_validade }}</p>
      {% endif %}
      
      {% if object.prazo_entrega %}
      <p class="card-text">Prazo de Entrega: {{ object.prazo_entrega }}</p>
      {% endif %}
      
      {% if object.data_criacao %}
      <p class="card-text">Data de submissão: {{ object.data_criacao }}</p>
      {% endif %}
      
      {% if object.observacao %}
      <p class="card-text">Observações: {{ object.observacao }}</p>
      {% endif %}
      
      {% if object.arquivo_anexo %}
      <p class="card-text">
        Arquivo Anexo: 
        <a href="{{ object.arquivo_anexo.url }}" target="_blank" class="btn btn-link">
          Download
        </a>
      </p>
      {% endif %}
      {% if object.anuncio %}
      <a href="{% url 'necessidade_detail' object.anuncio.pk %}" class="btn btn-primary">
         Ver Detalhes do Anúncio
      </a>
    {% endif %}
    </div>
  </div>
  <a href="{% url 'budget_list' %}" class="btn btn-secondary mt-3">Voltar para a Lista de Orçamentos</a>
</div>
{% endblock %}